/* Allow backup user to inhibit shutdown */
polkit.addRule(function(action, subject) {
    if (subject.user == "doppelback" &&
            (action.id == "org.freedesktop.login1.inhibit-block-shutdown" ||
             action.id == "org.freedesktop.login1.inhibit-block-sleep" ||
             action.id == "org.freedesktop.login1.inhibit-block-idle")) {
        return polkit.Result.YES;
    }
});
